body {
  font-family: Tahoma;
  max-width: 1000px;
  margin: 0 auto;
}

span {
  font-size: 14px;
}

img {
  border: 5px solid #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  float: middle;
  box-shadow: 2px 1px 1px;
}

#tribute {
  background-color:  #000000;
  color: #ffffff;
  text-align: center;
  text-shadow: 2px 1px 1px;
}

#foot {
  background-color:  #000000;
  color: #ffffff;
  text-align: center;
  text-shadow: 2px 1px 1px;
  margin-bottom: 10px;
  line-height: 2;
}

#exploits {
  background-color: #003300;
  color: white;
}

#more-info {
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}